
/********************************************
    This part work for header and footer
********************************************/

body {
    margin: 0;
}

header {
    position: relative;
    width: 100%;
    min-width: 1000px;
    height: 45px;
    border: 0 0 1px 0 solid #6babe9;
    background-color: #6babe9;
    box-shadow: 0 2px 2px #a2c7ea;
    margin: 0;
}

header #navigition {
    position: relative;
    width: 960px;
    height: 45px;
    margin: 0 auto;
}

header #logo {
    position: absolute;
    left: 0;
    display: block;
    width: auto;
    font-size: 40px;
    font-family: Helvetica, Arial;
    line-height: 45px;
    color: #ffffff; 
}

header #personal, #personal a {
    position: relative;
    float: right;
    width: 120px;
    height: 45px;
}

header #personal .headphoto {
    position: relative;
    width: 27px;
    height: 27px;
    left: 10px;
    top: 9px;
    background-color: #bebebe;
    font-size: 12px;
    float: left;

    line-height: 27px;
    text-align: center;
}

header #personal .username, .personal-nav span {
    position: relative;
    margin: 0;
    top: 14.5px;
    float: right;
    width: 73px;
    height: 16px;
    color: #ffffff;

    font-size: 14px;
    line-height: 14px;
}

header #personal ul {
    display: none;
    position: absolute;
    top: 45px;
    margin: 0;
    padding: 0;
    width: 120px;
    height: auto;
    
    list-style: none;
    z-index: 10;
}

header #personal ul li {
    border-top: 1px solid #3f8fff;
    width: 100%;
    height: 44px;
    color: #ffffff;
    background-color: #3f87eb;
}

header #personal ul .personal-nav-last {
    height: 43px;
    border-bottom: 1px solid #bebebe;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

header #personal ul li a:hover {
    background-color: #6babe9;
    height: 45px;
}

header #personal ul .personal-nav-last a:hover {
    background-color: #6babe9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

header #navigition #sign {
    position: relative;
    float: right;
    width: auto;
    margin: 22px 0 7px;
}

header #sign .signinup {
    display: block;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #f3f3f3;
    float: left;
    text-decoration: none;
}

header #sign .signinup:hover {
    color: #ffffff;
}

header #sign .line {
    display: block;
    margin: 0 13px;
    width: 2px;
    height: 16px;
    float: left;
    background-color: #bebebe;
}


footer {
    position: relative;
    bottom: 0;
    width: 960px;
    margin: 0 auto;
}

footer .line {
    position: absolute;
    top: 0;
    margin: 0 0 60px;
    width: 100%;
    height: 1px;
    background-color: #bababa;
}

footer #copyright {
    position: relative;
    display: block;
    top: 25px;
    left: 15px;
    width: auto;
    height: 16px;
    font-size: 14px;
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', 
        FreeSans, 'Hiragino Sans GB', sans-serif;
    color: #858585;
}




/********************************************
    This part work for public-personal-nav
********************************************/
content {
    position: relative;
    display: block;
    margin: 30px auto 30px;
    width: 960px;
    height: auto;   
}

content #public-personal-nav {
    position: relative;
    left: 0;
    margin: 0;
    width: 150px;
    height: auto;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    font-family: 'Microsoft YaHei';
    float: left;
}

#public-personal-nav #inf {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #d4d4d4;
}

#public-personal-nav #inf .headphoto {
    width: 130px;
    height: 130px;
    margin: 10px 10px;
}

#public-personal-nav #inf .username {
    display: block;
    width: auto;
    height: 20px;
    line-height: 20px;
    margin: 0 auto 10px;
    font-size: 18px;
    text-align: center;
}

#public-personal-nav ul {
    list-style: none;
    margin: 0 0 80px;
    padding: 0;
}

#public-personal-nav ul li {
    width: 100%;
    height: 56px;
    display: block;
    position: relative;
}

#public-personal-nav ul li a {
    display: block;
    position: absolute;
    width: 104px;
    height: 20px;
    text-decoration: none;
    color: #808080;
    padding: 18px 23px;
    font-size: 15px;
}

#public-personal-nav ul li:hover a {
    color: #3f87eb;
}

#public-personal-nav ul li a span {
    display: block;
    width: auto;
    height: 100%;
    line-height: 20px;
    letter-spacing: 8px;
    text-align: right;
}




/***************************************
    This part work for signin and signup
    in index.html
***************************************/

#index-page .close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 50px;
    height: 50px;
    background-image: url(/web/image/close.png);
}

#index-page .container {
    position: fixed;
    width: 100%;
    min-width: 720px;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
}

#index-page .container #logo {
    position: absolute;
    top: -10px;
    left: 10px;
    width: 100px;
    height: 60px;
    z-index: 100;
    background-image: url(/web/image/logo.png);
}


#index-page .container-signin #signin-windows {
    position: relative;
    top: 110px;
    width: 400px;
    margin: 0 auto;
    border: 2px solid #6babe9;
    border-radius: 2px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px #a2c7ea;
}

#index-page .container-signup #signin-windows {
    position: relative;
    top: 40px;
    width: 400px;
    margin: 0 auto;
    border: 2px solid #6babe9;
    border-radius: 2px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px #a2c7ea;
}

#index-page #head {
    position: relative;
    display: block;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: #6babe9;
}

#index-page #signin-windows h1 {
    margin: 20px 30px 20px;
    width: auto;
    height: 30px;
    line-height: 30px;
}

#index-page h1 span {
    font-size: 24px;
    width: 170px;
    float: left;
    font-family: 'Helvetica Neue', Helvetica,
        Arial, Sans-serif;
}

#index-page h1 .switch {
    margin: 5px 0 0 0;
    font-size: 12px;
    text-align: right;
    color: #808080;
    font-weight: lighter;
    letter-spacing: 5px;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, 
        Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

#index-page h1 .switch a {
    color: #808080;
    text-decoration: none;
}

#index-page .switch a:hover {
    color: #222020;
}

#index-page #signin-windows .item {
    position: relative;
    display: block;
    margin: 20px 30px 0;
    width: auto;
    height: 40px;
}

#index-page #signin-windows input {
    margin: 0;
    height: 16px;
    width: calc(100% - 24px);
    padding: 10px;
    border: 2px solid #d8d8d8;
    border-radius: 2px;
    float: left;
}

#index-page #signin-windows input:focus {
    outline-color: #6babe9;
}
 
#index-page #signin-windows .item #identifyingcode {
    width: 45%;
    float: left;
}

#index-page .item #Icode {
    display: block;
    width: 45%;
    height: 40px;
    background-color: #808080;
    float: right;
}

#index-page #signin-windows #deal {
    position: relative;
    width: 70%;
    height: 20px;
    margin: 10px auto 0 30px;
}

#index-page #deal a {
    float: left;
    height: 20px;
    margin: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #80b0fb;
}

#index-page #deal a:hover {
    color: #1463d0;
}

#index-page #signin-windows #deal input {
    width: 15px;
    margin: 10px 0 0 30px;
}

#index-page #signin-windows #signin {
    position: relative;
    margin: 20px 30px;
    height: 40px;
    width: calc(100% - 60px);
    border: 4px solid #6babe9;
    border-radius: 4px;
    font-size: 20px;
    color: #e5f6ed;
    padding: 0;
    background-color: #6babe9;
}


#index-page #signin-windows #signup {
    position: relative;
    margin: 20px 30px;
    height: 40px;
    width: calc(100% - 60px);
    border: 4px solid #6babe9;
    border-radius: 4px;
    font-size: 20px;
    color: #e5f6ed;
    padding: 0;
    background-color: #6babe9;
}

#index-page #forget-password {
    color: #80b0fb;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 10px 30px;
    width: auto;
    height: 20px;
    display: block;
}

#index-page #forget-password a {
    color: #80b0fb;
    text-decoration: none;
}

#index-page #forget-password a:hover {
    color:#1463d0;
}


/*****************************************
    This part work for homepage.html
*****************************************/

#homepage #public-personal-nav .homepage {
    padding: 18px 29px;
    left: -6px;
    background-color: #3f87eb;
    color: #ffffff !important;
}

#homepage #main {
    position: relative;
    display: block;
    top: 0;
    right: 0;
    width: 782px;
    height: auto;
    min-height: 500px;
    margin: 0 0 60px auto;
    border-radius: 5px;
}

#homepage #main .lump {
    width: 780px;
    height: auto;
    float: right;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

#homepage .lump h1 {
    position: relative;
    display: block;
    width: 100%;
    height: 46px;
    line-height: 46px;
    margin: 0;
    font-size: 20px;
    border-bottom: 1px solid #d4d4d4;
    background-color: rgba(235, 235, 235, 0.35);
}

#homepage .lump .icon {
    display: block;
    float: left;
    height: 12px;
    width: 8px;
    background-color: #3f87eb;
    border: 1px solid #3f87eb;
    border-radius: 4px;
    margin: 17px 0 16px 20px;
}

#homepage #AsManager {
    margin-bottom: 45px;
}

#homepage #AsManager div {
    position: relative;
    display: block;
    width: 50%;
    height: auto;
    float: left;
}

#homepage #AsManager .container {
    width: 300px;
    height: auto;
    margin: 20px 50px 40px 30px;
}

#homepage #AsManager .container h2 {
    font-size: 20px;
    margin: 10px 0;
}

#homepage #AsManager .container a {
    text-decoration: none;
    color: #2d7cdd;  
}

#homepage #AsManager .container .items {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

#homepage #AsTranslater .container {
    width: 720px;
    height: auto;
    margin: 30px 30px;
}



/*****************************************
    This part work for personal-inf.html
*****************************************/

#personal-inf a {
    text-decoration: none;
    color: #ffffff;
}

#personal-inf #public-personal-nav .user {
    padding: 18px 29px;
    left:-6px;
    background-color: #3f87eb;
    color: #ffffff !important;
}

#personal-inf #setting {
    position: relative;
    display: block;
    top: 0;
    right: 0;
    width: 780px;
    height: auto;
    margin: 0 0 60px auto;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    font-family: 'Microsoft YaHei';
    min-height: 540px;
}

#personal-inf #setting h1 {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0;
    font-size: 24px;
    border-bottom: 1px solid #d4d4d4;
    font-weight: lighter;
}

#personal-inf #setting .icon {
    display:block;
    float:left;
    height:16px;
    width:8px;
    background-color:#a1a1a1;
    border:1px solid #a1a1a1;
    border-radius:4px;
    margin:17px 0 16px 20px;
}

#personal-inf #setting #setting-nav {
    display:block;
    width:100%;
    height:40px;
    border-bottom:1px solid #d4d4d4;
}

#personal-inf #setting-nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

#personal-inf #setting-nav ul a {
    position:relative;
    width:90px;
    margin:0;
    height:24px;
    text-align:center;
    line-height:24px;
    text-decoration:none;
    float:left;
    padding:8px;
    color:#3f87eb;
}

#personal-inf #setting-nav ul .first-head {
    background-color: #3f87eb;
    color: #ffffff;
}

#personal-inf #setting .change-block .icon {
    display: block;
    float: left;
    width: 9px;
    height: 9px;
    background-color: #a1a1a1;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    margin: 10px 10px 10px 30px;
}

#personal-inf .change-block {
    width:100%;
    height: auto;
    border-bottom:1px solid #d4d4d4;
}

#personal-inf .change-hp h2 {
    width:100%;
    height:30px;
    line-height:30px;
    margin:15px 0 0;
    border-bottom:1px solid #d4d4d4;
    border-top:1px solid #d4d4d4;
    font-size:15px;
    color:#a1a1a1;
    font-weight:lighter;
    font-family:'Microsoft YaHei UI';
    letter-spacing:2px;
    background-color:rgba(235, 235, 235, 0.4);
}

#personal-inf .change-hp #hp-history {
    display: block;
    width: 229px;
    height: 449px;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    float: left;
}

#personal-inf .change-hp #hp-right {
    position: relative;
    display: block;
    width: 550px;
    height: 449px;
    border-bottom: 1px solid #d4d4d4;
    float: left;
}

#personal-inf .change-hp #hp-right .unname {
    position: relative;
    width: 50%;
    height: 360px;
    float: left;
}

#personal-inf .change-hp .unname img {
    width: 180px;
    height: 180px;
}

#personal-inf .change-hp .unname span {
    width: 180px;
    display: block;
    margin: 10px 0 0 65px;
    font-size: 16px;
    text-align: center;
}

#personal-inf .change-hp .unname button {
    position: relative;
    left: 60px;
    margin: 5px 0 0 0;
    height: 32px;
    width: 100px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #3f87eb;
    background-color: #3f87eb;
    box-shadow: none;
}

#personal-inf .change-hp button:hover {
    background-color: #2f75d5;
    border: 1px solid #2f75d5;
}

#personal-inf .change-hp .unname .current {
    margin: 60px 20px 0 65px;
}

#personal-inf .change-hp .unname .changed {
    margin: 60px 65px 0 20px;
    background-color: rgba(212, 212, 212, 0.70);
}

#personal-inf .submit {
    width: 138px;
    height: 40px;
    border: 1px solid #3f87eb;
    background-color: #3f87eb;
    border-radius: 5px;
    font-size: 22px;
    margin: 25px 315px 85px;
}


/*change information*/
#personal-inf .change-inf ul, 
#personal-inf .safety ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#personal-inf .change-inf,
#personal-inf .safety {
    display: none;
}

#personal-inf .change-inf .inf-form, 
#personal-inf .safety .inf-form {
    padding: 10px 20px;
    width: auto;
    height: auto;
}

#personal-inf .inf-form h2 {
    font-size: 15px;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #d4d4d4;
}

#personal-inf .inf-form .inf-block {
    width: 100%;
    height: auto;
    /*padding: 30px 0;*/
    border-bottom: 1px solid #d4d4d4;
}

#personal-inf .inf-form .line {
    width: 100%;
    height: 20px;
    padding: 25px 0;
}

#personal-inf .inf-form .line .inf-left {
    width: 110px;
    height: 20px;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    float: left;
}

#personal-inf .inf-form .line .inf-right {
    height: 20px;
    text-align: left;
    font-size: 14px;
    padding-left: 20px;
    float: left;

}

#personal-inf .change-inf .inf-form .briefIntroduction {
    width: 400px;
    height: 80px;
    display: block;
}

#personal-inf .change-inf .inf-form .prefer {
    width: 400px;
    height: 60px;
    display: block;
}



/*********************************************
    This part work for translate-project.html
**********************************************/

#translate-page #public-personal-nav .translate {
    padding: 18px 29px;
    left: -6px;
    background-color: #3f87eb;
    color: #ffffff !important;
}

#translate-page #main {
    position: relative;
    display: block;
    top: 0;
    right: 0;
    width: 782px;
    height: auto;
    min-height: 500px;
    margin: 0 0 60px auto;
    border-radius: 5px;
}

#translate-page #main .lump {
    width: 780px;
    height: auto;
    float: right;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

#translate-page .lump h1 {
    position: relative;
    display: block;
    width: 100%;
    height: 46px;
    line-height: 46px;
    margin: 0;
    font-size: 20px;
    border-bottom: 1px solid #d4d4d4;
    background-color: rgba(235, 235, 235, 0.35);
}

#translate-page .lump .icon {
    display: block;
    float: left;
    height: 12px;
    width: 8px;
    background-color: #3f87eb;
    border: 1px solid #3f87eb;
    border-radius: 4px;
    margin: 17px 0 16px 20px;
}

#translate-page #AsTranslater .container {
    width: 720px;
    height: auto;
    margin: 30px 30px;
}



/*********************************************
    This part work for translate-project.html
**********************************************/

#translate-project #project-container {
    width: 780px;
    height: auto;
    min-height: 500px;
    margin: 0 0 60px auto;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    font-family: 'Microsoft YaHei';
}

#translate-project .project-name {
    height: 62px;
    width: 100%;
    
    border-bottom:1px solid #d4d4d4;
}

#translate-project .project-name span {
    display: block;
    width: 12px;
    height: 19px;
    background: #434343;
    border-radius: 3px;
    margin: 24px 0 24px 16px;
    float: left;
}

#translate-project .project-name h1 {
    padding: 0;
    font-size: 29px;
    font-weight: normal;
    float: left;
    color: #434343;
    margin: 12px auto 12px 13px;
}

#translate-project .project-schedule {
    height: 42px;
    width: 100%;
    border-bottom:1px solid #d4d4d4;
}

#translate-project .project-schedule p {
    height: 42px;
    width: auto;
    font-size: 21px;
    font-weight: normal;
    line-height: 42px;
    margin: 0 0 0 42px;
    color: #434343;
}

#translate-project .time-line {
    width: 100%;
    height: 172px;
    border-bottom:1px solid #d4d4d4;
}

#translate-project .time-line h3 {
    font-size: 17px;
    font-weight: normal;
    margin: 5px auto 0 8px;
    color: #626262;
}

#translate-project .project-cata {
    height: 47px;
    width: 100%;
    border-bottom:1px solid #d4d4d4;
}

#translate-project .project-cata ul {
    height: 100%;
    width: 100%;
    list-style: none;
    font: normal 18px normal "Microsoft yahei";
    line-height: 47px;
    padding: 0;
    margin: 0;
}

#translate-project  .project-cata ul li {
    width: 138px;
    height: 100%;
    float: left;
}

#translate-project .project-cata li div {
    width: 16px;
    height: 16px;
    float: left;
    margin: 15px 6px 15px 25px; 
}

#translate-project .project-cata li img {
    width: 16px;
    height: 16px;
    float: left;
    margin: 15px 6px 15px 25px; 
}

#translate-project .project-cata .return {
    width: 90px;
    cursor: pointer;
    z-index: 0;
}

#translate-project .project-cata .return:hover {
    background: rgba(165, 165, 165, 0.2);
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

#translate-project .project-cata .return img {
    margin-left: 15px;
    z-index: 1;
}

#translate-project #project-list {
    width: 100%;
    min-height: 300px;
    margin-top: 16px;
}

#translate-project #project-list ul {
    list-style: none;
    width: auto;
    height: 29px;
    line-height: 29px;
    padding: 0;
    margin: 4px 0 4px 0;
}

#translate-project #project-list ul li {
    float: left;
    width: 138px;
    font: normal 20px normal "Microsoft YaHei";
    text-align: center;
}



/*********************************************
    This part work for translating.html
**********************************************/

#translating .translating-container {
    width: 960px;
    min-height: 500px;
    margin: 30px auto;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
}

#translating .translating-container .category {
    width: 100%;
    height: 74px;
    border-bottom: 1px solid #d4d4d4;
}

#translating .translating-container .category span {
    display: block;
    width: 22px;
    height: 44px;
    background-color: #434343;
    border-radius: 5px;
    margin: 15px 10px 15px 20px;
    float: left;
}

#translating .translating-container .category .main-category {
    position: relative;
    height: 44px;
    text-align: center;
    width: auto;
    margin: 8px 0;
    font: normal 44px 'Microsoft Yahei';
    float: left;
}

#translating .translating-container .category .child-category {
    height: 44px;
    margin: 8px 8px;
    padding-top: 13px;
    font: normal 30px 'Microsoft Yahei';
    float: left;
}

#translating .translating-container .second-block {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #d4d4d4;
}

#translating .translating-container .second-block .search-container {
    height: 35px;
    width: 530px;
    border: 2px solid #434343;
    margin: 8.5px 10px;
    border-radius: 5px;
    float: left;
}

#translating .translating-container .search-container .searching {
    height: 33px;
    width: 460px;
    font: normal 14px;
    padding-left: 12px;
    border: none;
}

#translating input:focus,
#translating .input-block:focus {
    outline: none; 
}

#translating .translating-container .search-container .search-button {
    width: 50px;
    height:100%;
    cursor: pointer;
    float: right;
}

#translating .translating-container .airticl-inf {
    width: 70px;
    height: 100%;
    float: left;
    margin: 0 13px;
}

#translating .translating-container .number-of-sentences {
    margin-left: 30px !important;
}

#translating .translating-container .airticl-inf .numbers,
#translating .translating-container .airticl-inf .text {
    display: block;
    width: 100%;
    height:27px;
    font: normal 20px 'Microsoft Yahei';
    text-align: center;
}

#translating .translating-container .translate-block {
    width: 100%;
    height: 560px;
}

#translating .translating-container .translate-block .info-block {
    width: 564px;
    height: 100%;
    border-right: 1px solid #d4d4d4;
    float: left;
    overflow-y: auto;
}

#translating .info-block .info-line {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    overflow: visible;
    float: left;
    cursor: pointer;
}

#translating .info-block .info-line:hover {
    background-color: rgba(156, 207, 250, 0.39);
    -moz-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    -webkit-transition-duration: 1000ms;
    transition-duration: 1000ms;
}

#translating .info-block .info-line div {
    
    float: left;
    font: normal 16px 'Microsoft Yahei';
}

#translating .info-block .info-line .line-numbers {
    text-align: center;
    width: 27px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
}

#translating .info-block .info-line .line-translate {
    text-align: left;
    width: 280px;
    height: auto;
    margin: 13px 15px 0 5px;
    display: inline-block;
}

#translating .info-block .info-line .translated {
    text-align: left;
    width: 200px;
    height: auto;
    margin: 13px 0;
    display: inline-block;
}

#translating .info-block .info-line .if-translated,
#translating .info-block .info-line .if-verify {
    /*564 - 27 - 300 - 200 = 37*/
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #89bbec;
    margin: 18px 3px 18px 5px;
    display: inline-block;
}

#translating .translating-container .translate-block .operate-block {
    width: 395px;
    height: 100%;
    float: left;
}

#translating .translating-container .operate-block .untranslate-character {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #d4d4d4;
    overflow: auto;
}

#translating .operate-block .untranslate-character h3 {
    margin: 12px 20px;
    font: normal 16px 'Microsoft Yahei';
}

#translating .operate-block .untranslate-character .detail {
    margin: 0 20px;
    font: normal 15px 'Microsoft Yahei';
}

#translating .operate-block .operating {
    width: 100%;
    height: 213px;
    border-bottom: 1px solid #d4d4d4;
}

#translating .operate-block .operating .input-block {
    width: 350px;
    height: 120px;
    margin: 13px 20px;
    font: normal 15px 'Microsoft Yahei';
    border: none;
    
    overflow: auto;
}

#translating .operate-block .operating input {
    width: 72px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border-radius: 3px;
    background-color: #80C26A;
    color: #ffffff;
    font: normal 16px 'Microsoft Yahei';
    border: none;
    cursor: pointer;
    margin-right: 20px;
    float: right;
    display: block;
}

#translating .operate-block .add-explain {
    width: 100%;
    height: 145px;
    overflow: auto;
}

#translating .operate-block .add-explain h3 {
    margin: 12px 20px;
    font: normal 16px 'Microsoft Yahei';
}

#translating .operate-block .add-explain .input-block {
    width: 350px;
    height: 40px;
    margin: 0 20px 13px 20px;
    font: normal 15px 'Microsoft Yahei';
    border: none;
    
    overflow: auto;
}

#translating .add-explain input {
    width: 75px;
    height: 31px;
    line-height: 46px;
    text-align: center;
    border-radius: 3px;
    background-color: #80C26A;
    color: #ffffff;
    font: normal 14px 'Microsoft Yahei';
    border: none;
    cursor: pointer;
    margin-right: 20px;
    float: right;
    display: block;
}

/************************************************

************************************************/

#manage #public-personal-nav .manage {
    padding: 18px 29px;
    left: -6px;
    background-color: #3f87eb;
    color: #ffffff !important;
}

#manage #main {
    position: relative;
    display: block;
    top: 0;
    right: 0;
    width: 782px;
    height: auto;
    min-height: 500px;
    margin: 0 0 60px auto;
    border-radius: 5px;

    font-family: 'Microsoft YaHei UI';
}

#manage #main .lump {
    width: 780px;
    height: auto;
    float: right;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

#manage .lump h1 {
    position: relative;
    display: block;
    width: 100%;
    height: 46px;
    line-height: 46px;
    margin: 0;
    font-size: 20px;
    border-bottom: 1px solid #d4d4d4;
    background-color: rgba(235, 235, 235, 0.35);
    font-weight: normal;
}

#manage .lump .icon {
    display: block;
    float: left;
    height: 12px;
    width: 8px;
    background-color: #3f87eb;
    border: 1px solid #3f87eb;
    border-radius: 4px;
    margin: 17px 0 16px 20px;
}

#manage .lump h2 {
    position: relative;
    display: block;
    width: auto;
    height: 40px;
    padding: 0 50px;
    line-height: 40px;
    margin: 0;
    font-size: 18px;
    border-bottom: 1px solid #d4d4d4;
    font-weight: normal;
}

#manage .upload-container {
    position: relative;
    width: auto;
    height: auto;
    padding: 20px 50px;
}

#manage .upload-container .one-block {
    width: 100%;
    margin-bottom: 28px;
    font-size: 16px;
}

#manage .upload-container .one-block .s-ico{
    display: block;
    width: 7px;
    height: 10px;
    margin: 5px 5px 5px 0;
    border-radius: 3px;
    background-color: #3f87eb;
    float: left;
}

#manage .upload-container .one-block label {
    display: block;
    margin-bottom: 17px;
}

#manage .upload-container .one-block .file-detail {
    width: 500px;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    overflow: auto;
}

#manage .upload-container .one-block span {
    float: left;
}

#manage .upload-container .one-block input {
    position: relative;
    top: 0;
    left: -300px;
    width: 300px;
    height: 20px;
    font-size: 14px;
    /*float:left;*/
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

#manage .upload-container .one-block #fake-input {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 20px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(133, 133, 133, 0.83);
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    z-index: 1;
    cursor: pointer;
}

#manage #file-name, #manage #file-size,
#manage #file-type, #manage #upload-status {
    font-size: 14px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.65);
} 

#manage .one-block .upload-inf {
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);
}

#manage .upload-container .upload {
    margin: 0 auto;
    width: 90px;
    height: 36px;
    background-color: #3f87eb;
    font-size: 18px;
    font-family: 'Microsoft YaHei';
    color: rgb(255, 255, 255);
    cursor: pointer;
    line-height: 36px;
    text-align: center;
    border-radius: 4px
}