#personal {
    background-color:#3f87eb;
}

content {
    position:relative;
    display:block;
    margin:30px auto 30px;
    width:960px;
    height:auto;   
}

content #nav {
    position:relative;
    left:0;
    margin:0;
    width:150px;
    height:auto;
    border:1px solid #d4d4d4;
    border-radius:5px;
    font-family:'Microsoft YaHei';
    float:left;
}

#inf {
    width:100%;
    height:auto;
    border-bottom:1px solid #d4d4d4;
}

#inf .headphoto {
    width:130px;
    height:130px;
    margin:10px 10px;
}

#inf .username {
    display:block;
    width:auto;
    height:20px;
    line-height:20px;
    margin:0 auto 10px;
    font-size:18px;
    text-align:center;
}

#nav ul {
    list-style:none;
    margin:0 0 80px;
    padding:0;
}

#nav ul li {
    width:100%;
    height:56px;
    display:block;
    position:relative;
}

#nav ul li a {
    display:block;
    position:absolute;
    width:104px;
    height:20px;
    text-decoration:none;
    color:#808080;
    padding:18px 23px;
    font-size:15px;
}

#nav ul li:hover a {
    color:#3f87eb;
}

#nav ul li a span {
    display:block;
    width:auto;
    height:100%;
    line-height:20px;
    letter-spacing:8px;
    text-align:right;
}

