.translating_container {
    width: 960px;
    min-height: 500px;
    margin: 30px auto;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
}

.translating_container .category {
    width: 100%;
    height: 74px;
    border-bottom: 1px solid #d4d4d4;
}

.translating_container .category span {
    display: block;
    width: 22px;
    height: 44px;
    background-color: #434343;
    border-radius: 5px;
    margin: 15px 10px 15px 20px;
    float: left;
}

.translating_container .category .main_category {
    position: relative;
    height: 44px;
    text-align: center;
    width: auto;
    margin: 8px 0;
    font: normal 44px 'Microsoft Yahei';
    float: left;
}

.translating_container .category .child_category {
    height: 44px;
    margin: 8px 8px;
    padding-top: 13px;
    font: normal 30px 'Microsoft Yahei';
    float: left;
}

.translating_container .second_block {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #d4d4d4;
}

.translating_container .second_block .search_container {
    height: 35px;
    width: 530px;
    border: 2px solid #434343;
    margin: 8.5px 10px;
    border-radius: 5px;
    float: left;
}

.translating_container .search_container .searching {
    height: 33px;
    width: 460px;
    font: normal 14px;
    padding-left: 12px;
    border: none;
}

input:focus,
textarea:focus {
    outline: none; 
}

.translating_container .search_container .search_button {
    width: 50px;
    height:100%;
    cursor: pointer;
    float: right;
}

.translating_container .airticl_inf {
    width: 70px;
    height: 100%;
    float: left;
    margin: 0 13px;
}

.translating_container .numberOfsentences {
    margin-left: 30px !important;
}

.translating_container .airticl_inf .numbers,
.translating_container .airticl_inf .text {
    display: block;
    width: 100%;
    height:27px;
    font: normal 20px 'Microsoft Yahei';
    text-align: center;
}

.translating_container .translate_block {
    width: 100%;
    height: 560px;
}

.translating_container .translate_block .info_block {
    width: 564px;
    height: 100%;
    border-right: 1px solid #d4d4d4;
    float: left;
    overflow-y: auto;
}

.info_block .info_line {
    position: relative;
    width: 100%;
    /*min-height: 45px;*/
    display: block;
    overflow: visible;
}

.info_block .info_line div {
    
    float: left;
    font: normal 16px 'Microsoft Yahei';
}

.info_block .info_line .line_numbers {
    /*position: relative;
    top: 0;
    left: 0;*/
    float: left;
    text-align: center;
    width: 27px;
    height: 45px;
    line-height: 45px;
}

.info_block .info_line .line_translate {
    text-align: left;
    width: 280px;
    height: auto;
    margin: 13px 15px 0 5px;
    float: left;
}

.info_block .info_line .translated {
    text-align: left;
    width: 200px;
    height: auto;
    margin: 13px 0;
    float: left;
}

.info_block .info_line .if_translated,
.info_block .info_line .if_verify {
    /*564 - 27 - 300 - 200 = 37*/
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #89bbec;
    margin: 18px 3px 18px 5px;
    float: left;
}

.translating_container .translate_block .operate_block {
    width: 395px;
    height: 100%;
    float: left;
}

.translating_container .operate_block .untranslateCharacter {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #d4d4d4;
    overflow: auto;
}

.operate_block .untranslateCharacter h3 {
    margin: 12px 20px;
    font: normal 16px 'Microsoft Yahei';
}

.operate_block .untranslateCharacter .detail {
    margin: 0 20px;
    font: normal 15px 'Microsoft Yahei';
}

.operate_block .operating {
    width: 100%;
    height: 213px;
    border-bottom: 1px solid #d4d4d4;
}

.operate_block .operating textarea {
    width: 350px;
    height: 120px;
    margin: 13px 20px;
    font: normal 15px 'Microsoft Yahei';
    border: none;
    resize: none;
}

.operate_block .operating input {
    width: 72px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border-radius: 3px;
    background-color: #80C26A;
    color: #ffffff;
    font: normal 16px 'Microsoft Yahei';
    border: none;
    cursor: pointer;
    margin-right: 20px;
    float: right;
    display: block;
}

.operate_block .addExplain {
    width: 100%;
    height: 145px;
    overflow: auto;
}

.operate_block .addExplain h3 {
    margin: 12px 20px;
    font: normal 16px 'Microsoft Yahei';
}

.operate_block .addExplain textarea {
    width: 350px;
    height: 40px;
    margin: 0 20px 13px 20px;
    font: normal 15px 'Microsoft Yahei';
    border: none;
    resize: none;
}

.addExplain input {
    width: 75px;
    height: 31px;
    line-height: 46px;
    text-align: center;
    border-radius: 3px;
    background-color: #80C26A;
    color: #ffffff;
    font: normal 14px 'Microsoft Yahei';
    border: none;
    cursor: pointer;
    margin-right: 20px;
    float: right;
    display: block;
}