#nav .translate {
    padding:18px 29px;
    left:-6px;
    background-color:#3f87eb;
    color:#ffffff !important;
}

#main {
    position:relative;
    display:block;
    top:0;
    right:0;
    width:782px;
    height:auto;
    min-height:500px;
    margin:0 0 60px auto;
    border-radius:5px;
}

#main .lump {
    width:780px;
    height:auto;
    float:right;
    border:1px solid #d4d4d4;
    border-radius:5px;
}

.lump h1 {
    position:relative;
    display:block;
    width:100%;
    height:46px;
    line-height:46px;
    margin:0;
    font-size:20px;
    border-bottom:1px solid #d4d4d4;
    background-color:rgba(235, 235, 235, 0.35);
}

.lump .icon {
    display:block;
    float:left;
    height:12px;
    width:8px;
    background-color:#3f87eb;
    border:1px solid #3f87eb;
    border-radius:4px;
    margin:17px 0 16px 20px;
}

#AsTranslater .container {
    width:720px;
    height:auto;
    margin:30px 30px;
}

#project_container {
    width: 780px;
    height: auto;
    min-height: 500px;
    margin: 0 0 60px auto;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    font-family: 'Microsoft YaHei';
}

#project_container .project_name {
    height: 62px;
    width: 100%;
    
    border-bottom:1px solid #d4d4d4;
}

#project_container .project_name span {
    display: block;
    width: 12px;
    height: 19px;
    background: #434343;
    border-radius: 3px;
    margin: 24px 0 24px 16px;
    float: left;
}

#project_container .project_name h1 {
    padding: 0;
    font-size: 29px;
    font-weight: normal;
    float: left;
    color: #434343;
    margin: 12px auto 12px 13px;
}

#project_container .project_schedule {
    height: 42px;
    width: 100%;
    border-bottom:1px solid #d4d4d4;
}

#project_container .project_schedule p {
    height: 42px;
    width: auto;
    font-size: 21px;
    font-weight: normal;
    line-height: 42px;
    margin: 0 0 0 42px;
    color: #434343;
}

#project_container .timeLine {
    width: 100%;
    height: 172px;
    border-bottom:1px solid #d4d4d4;
}

#project_container .timeLine h3 {
    font-size: 17px;
    font-weight: normal;
    margin: 5px auto 0 8px;
    color: #626262;
}

#project_container .project_cata {
    height: 47px;
    width: 100%;
    border-bottom:1px solid #d4d4d4;
}

#project_container .project_cata ul {
    height: 100%;
    width: 100%;
    list-style: none;
    font: normal 18px normal "Microsoft yahei";
    line-height: 47px;
    padding: 0;
    margin: 0;
}

#project_container .project_cata ul li {
    width: 138px;
    height: 100%;
    float: left;
}

#project_container .project_cata li div {
    width: 16px;
    height: 16px;
    float: left;
    margin: 15px 6px 15px 25px; 
}

#project_container .project_cata li img {
    width: 16px;
    height: 16px;
    float: left;
    margin: 15px 6px 15px 25px; 
}

#project_container .project_cata .return {
    width: 90px;
    cursor: pointer;
    z-index: 0;
}
#project_container .project_cata .return:hover {
    background: rgba(165, 165, 165, 0.2);
    transition-duration: 300ms;
}
#project_container .project_cata .return img {
    margin-left: 15px;
    z-index: 1;
}

#project_container #project_list {
    width: 100%;
    min-height: 300px;
    margin-top: 16px;
}

#project_container #project_list ul {
    list-style: none;
    width: auto;
    height: 29px;
    line-height: 29px;
    padding: 0;
    margin: 4px 0 4px 0;
}

#project_container #project_list ul li {
    float: left;
    width: 138px;
    font: normal 20px normal "Microsoft YaHei";
    text-align: center;
}