#nav .homepage {
    padding:18px 29px;
    left:-6px;
    background-color:#3f87eb;
    color:#ffffff !important;
}

#main {
    position:relative;
    display:block;
    top:0;
    right:0;
    width:782px;
    height:auto;
    min-height:500px;
    margin:0 0 60px auto;
    border-radius:5px;
}

#main .lump {
    width:780px;
    height:auto;
    float:right;
    border:1px solid #d4d4d4;
    border-radius:5px;
}

.lump h1 {
    position:relative;
    display:block;
    width:100%;
    height:46px;
    line-height:46px;
    margin:0;
    font-size:20px;
    border-bottom:1px solid #d4d4d4;
    background-color:rgba(235, 235, 235, 0.35);
}

.lump .icon {
    display:block;
    float:left;
    height:12px;
    width:8px;
    background-color:#3f87eb;
    border:1px solid #3f87eb;
    border-radius:4px;
    margin:17px 0 16px 20px;
}

#AsManager {
    margin-bottom:45px;
}

#AsManager div {
    position:relative;
    display:block;
    width:50%;
    height:auto;
    float:left;
}
/*
#AsManager #coordinate {
    float:none !important;
    position:relative;
    top:0;
    left:50%;   
    width:48%;
    height:100px;
}
    */

#AsManager .container {
    width:300px;
    height:auto;
    margin:20px 50px 40px 30px;
}

#AsManager .container h2 {
    font-size:20px;
    margin:10px 0;
}

#AsManager .container a {
    text-decoration:none;
    color:#2d7cdd;  
}

#AsManager .container .items {
    display:block;
    font-size:16px;
    margin-bottom:10px;
}

#AsTranslater .container {
    width:720px;
    height:auto;
    margin:30px 30px;
}