#nav .user {
    padding:18px 29px;
    left:-6px;
    background-color:#3f87eb;
    color:#ffffff !important;
}

#setting {
    position:relative;
    display:block;
    top:0;
    right:0;
    width:780px;
    height:auto;
    margin:0 0 60px auto;
    border:1px solid #d4d4d4;
    border-radius:5px;
    font-family:'Microsoft YaHei';
}

#setting h1 {
    position:relative;
    display:block;
    width:100%;
    height:50px;
    line-height:50px;
    margin:0;
    font-size:24px;
    border-bottom:1px solid #d4d4d4;
    font-weight:lighter;
}

#setting .icon {
    display:block;
    float:left;
    height:16px;
    width:8px;
    background-color:#a1a1a1;
    border:1px solid #a1a1a1;
    border-radius:4px;
    margin:17px 0 16px 20px;
}

#setting #setting_nav {
    display:block;
    width:100%;
    height:40px;
    border-bottom:1px solid #d4d4d4;
}

#setting_nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

#setting_nav ul a {
    position:relative;
    width:90px;
    margin:0;
    height:24px;
    text-align:center;
    line-height:24px;
    text-decoration:none;
    float:left;
    padding:8px;
    color:#3f87eb;
}

#setting_nav ul .first_head {
    background-color:#3f87eb;
    color:#ffffff;
}

#change_hp {
    width:100%;
    height:480px;
    border-bottom:1px solid #d4d4d4;
}

#change_hp h2 {
    width:100%;
    height:30px;
    line-height:30px;
    margin:15px 0 0;
    border-bottom:1px solid #d4d4d4;
    border-top:1px solid #d4d4d4;
    font-size:15px;
    color:#a1a1a1;
    font-weight:lighter;
    font-family:'Microsoft YaHei UI';
    letter-spacing:2px;
    background-color:rgba(235, 235, 235, 0.4);
}

#change_hp .icon {
    display:block;
    float:left;
    width:9px;
    height:9px;
    background-color:#a1a1a1;
    border:1px solid #a1a1a1;
    border-radius:5px;
    margin:10px 10px 10px 30px;
}

#hp_left {
    display:block;
    width:229px;
    height:449px;
    border-right:1px solid #d4d4d4;
    float:left;
}

#hp_right {
    position:relative;
    display:block;
    width:550px;
    height:449px;
    float:left;
}

#hp_right .unname {
    position:relative;
    width:50%;
    height:360px;
    float:left;
}

.unname img {
    width:180px;
    height:180px;
    
}

.unname span {
    width:180px;
    display:block;
    margin:10px 0 0 65px;
    font-size:16px;
    text-align:center;
}

.unname button {
    position:relative;
    left:60px;
    margin:5px 0 0 0;
    height:32px;
    width:100px;
    font-size:16px;
    border-radius:5px;
    border:1px solid #3f87eb;
    background-color:#3f87eb;
    box-shadow:none;
}


button a {
    text-decoration:none;
    color:#ffffff;
}

#setting button:hover {
    background-color:#2f75d5;
    border:1px solid #2f75d5;
}

.unname .current {
    margin:60px 20px 0 65px;
}

.unname .changed {
    margin:60px 65px 0 20px;
    background-color:rgba(212, 212, 212, 0.70);
}

#setting .submit {
    width:138px;
    height:40px;
    border:1px solid #3f87eb;
    background-color:#3f87eb;
    border-radius:5px;
    font-size:22px;
    margin:25px 315px 85px;
}