content #dynamic {
    position:relative;
    width:640px;
    height:650px;
    margin:40px 20px 40px 0;
    border:1px solid #858585;
    border-radius:10px;
    float:left;
}

content #rank {
    position:relative;
    display:block;
    width:270px;
    height:400px;
    margin:40px 0 40px 20px;
    border:1px solid #858585;
    border-radius:10px;
    float:right;
}
